/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$backingColor: #666b6b;

h1 {
  margin-top: 8%;
  text-align: center;
}

h4 {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background: $backingColor
}

.form-well {
  text-align: center;
}

.well {
  background: $backingColor;
  border-color: inherit;
}
.btn.btn-success.sub-btn{

  margin-top: 10px;
  margin-left: 44%;
}

.btn {
  margin-bottom: 15px;
}

body {
  background-size: cover;
  background-image: image-url("background.jpg");
  color: #131313;
}

html {
  height: 100%;
}

input.form-control{
  background-color: #969696;
  border-color: inherit;
}
textarea.form-control{
  background-color: #969696;
  border-color: inherit;
}

a {
  color:#5a2f07;
}

a:hover {
  color:#b3b3b2
}

.btn-info {
  background-color:#265867;
  border-color: inherit;
  color: black;
}

.btn-success {
  background-color: #3c633c;
  border-color: inherit;
  color: black;
}

.btn-danger {
  color: black;
  border-color: inherit;
  background-color: #860d0a;
}

.btn-primary {
  color: black;
  border-color: inherit;
}
